<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>JinsoftWC</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<session-config>
		<session-timeout>120</session-timeout>
	</session-config>
	<servlet>
		<servlet-name>WeChatMain</servlet-name>
		<servlet-class>jinsoftms.service.WeChatMain</servlet-class>
		<init-param>
			<param-name>HTTPSURL</param-name>
			<param-value>https://4ae19a97.ngrok.io</param-value>
		</init-param>
		<init-param>
			<param-name>HTTPURL</param-name>
			<param-value>http://4ae19a97.ngrok.io</param-value>
		</init-param>
		<init-param>
			<param-name>Project.name</param-name>
			<param-value>/JinsoftWC</param-value>
		</init-param>
		<init-param>
			<param-name>SecurityJDBC.name</param-name>
			<param-value>JINSA</param-value>
		</init-param>
		<init-param>
			<param-name>WCHTTPSURL</param-name>
			<param-value>https://api.weixin.qq.com</param-value>
		</init-param>
		<init-param>
			<param-name>WCOPENHTTPSURL</param-name>
			<param-value>https://open.weixin.qq.com</param-value>
		</init-param>
		<init-param>
			<param-name>APPID</param-name>
			<param-value>wx7d9306bba80f8750</param-value>
		</init-param>
		<init-param>
			<param-name>APPSECRET</param-name>
			<param-value>44ddd0f85bc6dd73be3eec74511ddce0</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>WeChatMain</servlet-name>
		<url-pattern>/wechatmain</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>VCode</servlet-name>
		<servlet-class>wechatms.handlerprocess.VCode</servlet-class>
		<init-param>
			<param-name>sms.account</param-name>
			<param-value>cf_jingsoft</param-value>
		</init-param>
		<init-param>
			<param-name>sms.password</param-name>
			<param-value>23192319</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>VCode</servlet-name>
		<url-pattern>/sms.send</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LProcess</servlet-name>
		<servlet-class>wechatms.handlerprocess.WechatProcess</servlet-class>
		<init-param>
			<param-name>LoginInforExtractor.Imp</param-name>
			<param-value>jinsoftms.login.loginAction</param-value>
		</init-param>
		<init-param>
			<param-name>SecurityWXJDBC.name</param-name>
			<param-value>JINSA</param-value>
		</init-param>
		<init-param>
			<param-name>MainWXWeb.name</param-name>
			<param-value>person.html</param-value>
		</init-param>
		<init-param>
			<param-name>ValidatePermission.Imp</param-name>
			<param-value>jinsoftms.login.URLPermission</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>LProcess</servlet-name>
		<url-pattern>/user.login</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>Set Character Encoding</filter-name>
		<filter-class>filters.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Set Character Encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>